.ui.borderless.topmenu.container.menu {
  background-color: #ffffff;
  box-shadow: none;
  border: none;
}

.img-background {
  background: url("http://murphyshawaii.com/media/2014/04/murphys-front.jpg")no-repeat center center;
  height: 500px;
}
.footer-background {
  background-color: #004030;
  color: white;
  box-shadow: none;
  border: none;
}
p {
  color: white;
  background-color: transparent;
}
